
@using System.Configuration

@model DataLayer.Users

<div style="direction: rtl; padding: 20px">
    <h2>@Model.UserName عزیز!</h2>
    <p> برای بازیابی کلمه عبور خود روی

    <p><a href="@ConfigurationManager.AppSettings["MyDomain"]/Account/RecoveryPassword/@Model.ActiveCode"> لینک</a></p>
    کلیک کنید.</p>
</div>
