@model DataLayer.Users
@{
    ViewBag.Title = "فعالسازی حساب کاربری";
}



<div class="alert alert-success">
    <h2>@Model.UserName عزیز!</h2>
    <p> خوش آمدید!</p>
    <p> از طریق لینک زیر میتوانید وارد سایت شوید.</p>

    <p><a href="/Login"> لینک</a></p>
</div>


